<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}" lang="en">
<head>
    <title>Main</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="form-row">
            <div class="form-group col-md-6">
                <form method="get" th:action="@{main}" class="form-inline">
                    <div class="input-group">
                        <input type="text" name="filter" class="form-control" th:value="${param.filter}" placeholder="Search by tag" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div th:replace="fragments/messages :: edit_message"></div>

        <div th:replace="fragments/messages :: messages_list"></div>
    </div>

</body>
</html>