<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit User</title>
</head>
<body>
    <div layout:fragment="content">
        <div>User Editor</div>
        <form th:action="@{/user}" th:method="post">
            <div>Username</div>
            <input type="text" name="username" th:value="${user.username}">
            <div th:each="role : ${roles}">
                <label><input type="checkbox" th:name="${role}" th:text="${role}"
                              th:checked="${#sets.contains(user.roles, role)}"></label>
            </div>
            <input type="hidden" name="userId" th:value="${user.id}">
            <button type="submit">Save</button>
        </form>
    </div>

</body>
</html>